@import 'fonts.css';

:root {
	--main-bg-color: #c63;
}

/* Josh Comeau's reset: https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* Extra rules */
html {
	font-size: 100%;
}

body {
	position: relative;
	margin: 0;
	/* padding: 50px 0 0 0; */
	background-color: #eee;
	color: #111;
	font-family: 'IBM Plex Sans', sans-serif;
	line-height: 1.5;
}

select {
	text-overflow: ellipsis;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5em 0;
	font-weight: 600;
	line-height: 1.25;
}

h1 {
	font-size: 1.25rem;
}

a {
	color: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
